        .widget {
            background: #e6fff2;
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #479e9a;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
            min-width: 300px;
        }
